@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');

.text-block__nameProduct-price{
    margin-top: 30px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    
}

.text-block__description{
    margin-top: 0;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    font-size: 14px;
}