.color-product{
    height: 60px;
}

.color__label{
    display: flex;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.color-product-select{
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.color__black{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: black;
}

.color__darkviolet{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: rgb(40, 7, 146);
}

.color__yellow{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: rgb(226, 226, 10);
}

.color__gray{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: gray;
}