.size__product {
    display: flex;
}

.size__product__select{
    display: flex;
}

.size__small{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: black;
    color: white;
}

.size__medium{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: grey;
    color: black;
}

.size__large{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: grey;
    color: black;
}